.form{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:8rem;

    p.alert{
      color: red;
      margin-top: .5rem;
    }

    p.register{
      display:flex;
      align-items:center;
      justify-content:space-between;
      margin-top:.7rem;
      a{
        color:black;
        transition:all .3s  ease;
        font-size:1.05rem;
        &:hover{
            transform:scale(1.05);
        }
      }
    }

    form{
      border: 1px solid rgba(black,.4);
      padding:30px;
      border-radius:12px;
      width:45%;

      input{
          height:2.5rem;
          width:100%;
          border-radius:8px;
          margin-top:.7rem;
          &:focus,&:active{
            border:none !important;
          }
      }

      button{
        margin-top:.7rem;
      }
    }
  }